<%
// Function to get the current page URL
function getPageUrl() {
    let pageUrl = url;

    // Check if it's the homepage
    if (is_home()) {
        // Remove 'index.html' from the end of the URL
        pageUrl = pageUrl.replace(/index\.html$/, '');
    }

    return pageUrl;
}
%>

<%
// Function to determine the Open Graph type based on page type
function getOgType() {
    if (is_post()) return 'article';
    if (is_page()) return 'article';
    if (is_archive() || is_category() || is_tag()) return 'archive';
    return 'website';
}
%>

<head>
    <!-- Meta charset and viewport for better display -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Meta tags for SEO -->
    <meta name="keywords" content="<%= page?.keywords || config?.keywords || 'Hexo Theme Keep' %>">
    <meta name="description" content="<%= page?.description || config?.description || 'Hexo Theme Keep' %>">
    <meta name="image" content="<%= page?.thumbnail || config?.defaultthumb || 'https://picsum.photos/200/300' %>">
    <meta name="author" content="<%= page?.author || theme?.base_info?.author || config?.author || 'Keep Team' %>">
    <meta property="article:author" content="<%= page?.author || theme?.base_info?.author || config?.author || 'Keep Team' %>"/>
    <meta property="og:site_name" content="<%= theme?.base_info?.title || config?.title || 'Keep Theme' %>">
    <meta property="og:type" content="<%= getOgType() %>" />

    <% if (page.permalink || getPageUrl()) { %>
        <!-- Open Graph URL -->
        <meta property="og:url" content="<%= page.permalink || getPageUrl() %>">
    <% } %>

    <% if (theme?.base_info?.primary_color) { %>
        <!-- Theme color for better display on sm -->
        <meta name="theme-color" content="<%= theme?.base_info?.primary_color %>">
    <% } %>

    <!-- Open Graph Meta Tags -->
    <meta property="og:description" content="<%= page?.description || config?.description || 'Hexo Theme Keep' %>" />
    <meta property="og:image" content="<%= page?.thumbnail || config?.defaultthumb || 'https://picsum.photos/200/300' %>">
    <%
    let title = page.title;
    if (is_archive()) {
        title = __('archive');
        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    } else {
        title = __(page.title);
    }
    %>

    <% if (theme?.base_info?.brand && config?.url) { %>
        <!-- JSON-LD for Organization -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Organization",
                "name": "<%= theme?.base_info?.brand %>",
                "url": "<%= config?.url %>"
            }
        </script>
    <% } %>

    <% if (title) { %>
        <!-- Open Graph Title -->
        <meta property="og:title" content="<%= title %> | <%= theme?.base_info?.title || config?.title || 'Keep Theme' %>"/>
    <% } else {  %>
        <meta property="og:title" content="<%= theme?.base_info?.title || config?.title || 'Keep Theme' %>">
    <% } %>

    <!-- Page Title -->
    <title>
    <% if (title) { %><%= title %> | <% } %><%= theme?.base_info?.title || config?.title || 'Keep Theme' %>
    </title>

    <!-- Include CSS -->
    <%- css('css/style') %>
    <% if (theme?.base_info?.favicon) { %>
        <!-- Favicon -->
        <%- favicon_tag(theme?.base_info?.favicon) %>
    <% } %>

    <!-- Include Font Awesome CSS -->
    <%- __css('font/css/fontawesome.min.css') %>
    <%- __css('font/css/regular.min.css') %>
    <%- __css('font/css/solid.min.css') %>
    <%- __css('font/css/brands.min.css') %>
    <% if (theme?.inject?.enable === true) { %>
        <% theme?.inject?.css?.forEach((css_path) => { %>
            <% if (css_path && isCssFile(css_path)) { %>
                <%- css(css_path) %>
            <% } %>
        <% }) %>
    <% } %>
    <%- exportThemeConfig() %>
</head>

